/* ***** GENERIC STYLES ***** */

html, body{
    margin:0;
    padding:0;
}

body{
    font-family: Roboto;
    width: 100vw; min-width: 100vw;
    background: white;
}

/* ***** HEADER ***** */

header{
    height: 40px;
    width: 100vw;
    background: black;
    color: white;
}

h1{
    font-size: xx-large;
    margin: 0 10px 0 10px;
    display: inline-block;
    vertical-align: middle;
}

/* ***** NAVIGATION ***** */

nav{
    display: inline-block;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

header li{
    text-align: center;
    display: inline-block;
    width: 150px;
}

header li:hover{
    background: darkgray;
    transition: background 800ms;
}

header a{
    text-decoration: none;
    color: white;
}

/* ***** HOME SECTION ***** */

.main-home{
    width: 70%;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
}

article h3{
    text-transform: uppercase;
}

article img{
    width: 30%;
    float: left;
}

article p{
    text-align: justify;
}

article a{
    color: red;
    text-decoration: none;
    display: inline-block;
    float: right;
}

article a:hover{
    text-decoration: underline;
}

/* ***** RIGHT SIDE ***** */

aside{
    width: 30%;
    box-sizing: border-box;
    float: right;
    padding: 10px;
    margin-top: 20px;
    background: lightgray;
    border-radius: 12px;
}

aside a{
    margin: 5px;
    color: black;
    text-decoration: none;
}

aside a:hover{
    color: red;
    transition: color 500ms;
}

/* ***** FOOTER ***** */

section{
    margin-bottom: 200px;
}

footer{
    position: fixed;
    bottom:0;
    left:0; right:0;
    background: black;
    color: white;
    padding: 10px;
    box-shadow: 0 -5px 5px lightgray;
}

footer a{
    color: lightgray;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer p{
    text-align: right;
    margin-right: 10px;
}

footer a[href^="mailto"]{
    display: block;
}

footer a[href^="mailto"]:hover{
    text-decoration: none;
    font-size: 1.1em;
    transition: font-size ease-in 800ms;
}

/* ***** TRANSITIONS & ANIMATIONS ***** */

header, footer{
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}

.main-home{
    animation: leftIn 1s;
}

@keyframes leftIn{
    0% {
        opacity:0;
        transform: translateX(-200px);
    }
    100% {
        opacity:1;
        transform: translateX(0);
    }
}

aside{
    animation: rightIn 1s;
}

@keyframes rightIn{
    0% {
        opacity:0;
        transform: translateX(150px);
    }
    100% {
        opacity:1;
        transform: translateX(0);
    }
}

section a[href^="published"]:hover{
    animation: shake 200ms;
}

@keyframes shake{
    0%{transform: translateX(5px);}
    50%{transform: translateX(-5px);}
    100%{transform: translate(0);}
}

footer h3{
    animation: colorized 2s infinite;
}

@keyframes colorized{
    0%{color: white;}
    33%{color: skyblue;}
    66%{color: red;}
    100%{color: yellow;}
}

/* *****  MEDIA QUERIES ***** */

@media screen and (max-width:768px) {
    nav, article, aside{
        font-size: 1.1em;
    }

    nav li{
        width: unset;
    }

    nav a{
        padding: 5px;
    }

    .main-home{
        margin-bottom:0;
        width: 100vw;
    }

    article img{
        width: 50%;
    }

    aside{
        float: unset;
        margin-bottom: 200px;
        width: 100vw;
    }
}

@media screen and (max-width:630px) {
    nav{display: none;}

    article img{
        float: unset;
        width: 100%;
    }
}
